@import '../../styles/mixins';
// ~ imports for node_moduels see
// https://github.com/gdi2290/angular-starter/issues/727#issuecomment-228300398
@import '~react-dropdown/style.css';
@import '~react-rangeslider/umd/rangeslider.css';

.home-controls {

  .slider-container {
    margin-bottom: 55px;
  }
  .control-label {
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  // Dropdown overrides
  .Dropdown-control {
    padding: 8px 38px 8px 10px;
  }

  .Dropdown-placeholder, .Dropdown-option {
    font-size: 0.9rem;
  }

}
