@import '../../styles/mixins';

.home-network-control-buttons {
  display: flex;
  justify-content: center;


  button {
      margin: 6px;
      width: 142px;
      border-radius: 0px;
      border: 1px solid gray;
      font-size: 1.0rem;
      font-weight: 100;
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
  }

}
