@import '../../styles/mixins';

.discussion-default-page {  
  margin: 40px auto;
  max-width: 650px;
  color: #444;
  padding: 0 10px;
  font-size: 1.1rem;
  line-height: 1.55em;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0 0 1rem;
  }      

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25em;
    margin: 1.9rem 0 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
  }

  h3 {
    line-height: 1.6;
    margin-top: 1.2rem;
  }

  p {
    margin-bottom: 10px;
  }

  strong {
    font-weight: bold;
  }

  ol {
    padding-left: 40px;
  }

  img {
    margin: 0.5rem auto 1.5rem;
    max-width: 100%;
  }

  .caption {
    font-size: 0.9rem;
  }
}
